@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$font-family-sans-serif: 'Titillium Web', sans-serif;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #ddd;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: #4582EC;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d51c31;
$orange: #fcaf3f;
$yellow: #f0ad4e;
$green: #02B875;
$teal: #20c997;
$cyan: #17a2b8;
$primary: $orange;
$secondary: $red;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$body-bg: #f3f1f1;
$body-color: $gray-800;
$navbar-dark-color: rgba($white,.6);
$navbar-dark-hover-color: $white;

@import '~bootstrap/scss/bootstrap.scss';


// Navbar ======================================================================

.navbar {
  font-size: 0.875em;
}

// Buttons =====================================================================

.btn {
  border-radius: 1.078em;
  font-family: $font-family-sans-serif;
  font-size: 0.875em;

  &-lg {
    border-radius: 2.688em;
  }

  &-sm {
    border-radius: 0.844em;
    font-size: 0.688em;
  }

  &-secondary,
  &-secondary:hover,
  &-warning,
  &-warning:hover {
    color: $white;
  }
}

// Typography ==================================================================

blockquote {
  font-style: italic;
}

footer {
  font-size: 0.875em;
}

.lead {
  color: $gray-600;
  font-family: $font-family-sans-serif;
}

// Tables ======================================================================

table,
.table {
  font-size: 0.875em;

  &-primary,
  &-secondary,
  &-success,
  &-info,
  &-warning,
  &-danger {
    color: #fff;
  }
}

.table {

  &-primary {
    &, > th, > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &, > th, > td {
      background-color: $secondary;
    }
  }

  &-light {
    &, > th, > td {
      background-color: $light;
    }
  }

  &-dark {
    &, > th, > td {
      background-color: $dark;
    }
  }

  &-success {
    &, > th, > td {
      background-color: $success;
    }
  }

  &-info {
    &, > th, > td {
      background-color: $info;
    }
  }

  &-danger {
    &, > th, > td {
      background-color: $danger;
    }
  }

  &-warning {
    &, > th, > td {
      background-color: $warning;
    }
  }

  &-active {
    &, > th, > td {
      background-color: $table-active-bg;
    }
  }

  &-hover {

    .table-primary:hover {
      &, > th, > td {
        background-color: darken($primary, 5%);
      }
    }

    .table-secondary:hover {
      &, > th, > td {
        background-color: darken($secondary, 5%);
      }
    }

    .table-light:hover {
      &, > th, > td {
        background-color: darken($light, 5%);
      }
    }

    .table-dark:hover {
      &, > th, > td {
        background-color: darken($dark, 5%);
      }
    }

    .table-success:hover {
      &, > th, > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &, > th, > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &, > th, > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &, > th, > td {
        background-color: darken($warning, 5%);
      }
    }

    .table-active:hover {
      &, > th, > td {
        background-color: $table-active-bg;
      }
    }

  }
}

// Forms =======================================================================

// Navs ========================================================================

.nav,
.breadcrumb,
.pagination {
  font-size: 0.875em;
}

.dropdown-menu {
  font-size: 0.875em;
}

// Indicators ==================================================================

.alert {
  border: none;
  color: $white;
  font-size: 0.875em;

  &, p {
    font-family: $font-family-sans-serif;
  }

  a, .alert-link {
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(0deg, mix($body-bg, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }

  &-light {
    &,
    & a,
    & .alert-link {
      color: $body-color;
    }
  }
}

.badge {
  vertical-align: bottom;

  &-secondary,
  &-warning {
    color: $white;
  }
}

.tooltip {
  font-size: 11px;
}

// Progress bars ===============================================================

// Containers ==================================================================

body{
  margin-top: 60px;
}

.list-group {
  font-size: 0.875em;
}

.brand{
  font-family: 'Kaushan Script', cursive;
}

h1.brand-big{
  font-size: 70px;
}

.brand .ephecta{
  color: #d51c31;
}

.brand .pizza{
  color: #333;
}

.btn-md{
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-lg{
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.card-title{
  font-weight: bold;
}

.styled-outline{
  border: #000 1px solid;
  outline: #000 2px solid;
  outline-offset: 3px;
}

.font-size-total
.font-size-tittle{
  font-size: 1.5em;
}

.scroll-to-top{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:$red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  width: 3em;
}

.cursor-pointer{
  cursor: pointer;
}

.corner-badge{
  position: absolute !important;
  top:-4px !important;
  right: 0;
  transform: translateX(50%);
}

.card-text.crop-text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectable{
  cursor: pointer;
  transform: scale(1);
  transition: transform .5s ease;
}

.selectable:hover{
  transform: scale(1.1);
}

.text-lg{
  font-size: 1.5em;
}

.text-md{
  font-size: 1.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}